#main {
    display: block;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: arial, sans-serif;
}

header {
    display: flex;
    align-items: center;
    float: right;
    font-size: 13px;
    font-weight: 400;
    height: 60px;
}

a {
    text-decoration: none;
    margin: 5px;
    color: black;
}

a:hover {
    text-decoration: underline;
}

#header-right {
    margin-left: auto;
    display: flex;
    flex-basis: auto;
    align-items: center;
}

#about-lk {
    margin-left: 15px;
}

#login-lk {
    margin-right: 8px;
    background-color: #1a73e8;
    border: 1px solid transparent;
    color: white;
    padding: 9px 15px;
    font-size: 14px;
    border-radius: 4px;
}

#login-lk:hover {
    background-color: rgb(43, 125, 233);
    box-shadow: 0 1px 2px 0 rgb(66 133 244 / 30%), 0 1px 3px 1px rgb(66 133 244 / 15%);
    text-decoration: none;
}

#app-lk {
    width: 40px;
    height: 40px;
}

#app-lk:hover {
    background-color: rgba(60, 64, 67, 0.08);
    border-radius: 50%;
}

#app-lk svg {
    width: 24px;
    height: 24px;
    padding: 8px;
}

#logo-div {
    display: hidden;
}


