#main {
    display: block;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    display: flex;
    align-items: center;
    float: right;
    font-family: arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    height: 60px;
}

a {
    text-decoration: none;
    margin: 5px;
    color: black;
}

a:hover {
    text-decoration: underline;
}

#header-right {
    margin-left: auto;
    display: flex;
    flex-basis: auto;
    align-items: center;
}

#about-lk {
    margin-left: 15px;
}

#login-lk {
    margin-right: 8px;
}

#app-lk {
    width: 40px;
    height: 40px;
}

#app-lk:hover {
    background-color: rgba(60, 64, 67, 0.08);
    border-radius: 50%;
}

#app-lk svg {
    width: 24px;
    height: 24px;
    padding: 8px;
}

#logo-div {
    display: hidden;
}


